<!-- Home Page for Machine Learning Model Web Interface where users can upload a jpg image and then
    have that image be passed into my model which will return a guess for what the image is. -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Machine Learning Model Web Interface</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css', _external=True) }}"
    />
    <script src="{{ url_for('static', filename='js/scripts.js', _external=True) }}"></script>
  </head>

  <body>
    <div class="container">
      <h1 id="title">Machine Learning Model Web Interface</h1>
      <div class="upload_box">
        <div class="upload_container">
          <h2>Upload an image and see what the model thinks it is!</h2>

          <form
            id="form"
            action="/"
            method="post"
            enctype="multipart/form-data"
            onsubmit="upload()"
          >
            <input
              type="file"
              name="file"
              id="file_input"
              onchange="file_selected()"
            />
            <button type="submit" name="submit">Upload</button>
          </form>
          {% if prediction_result%}
          <div>
            <h2 id="prediction_result">Prediction: {{ prediction_result }}</h2>
          </div>
          {% endif %}
        </div>
      </div>
      <p id="file_name"></p>
      <div id="error_message"></div>
    </div>
  </body>
</html>
